.center .slick-slide {
  max-width: 33%;
  width: auto;
}

.center .slick-active {
  margin-top: 30px;
  transition: all 2000ms ease;
  max-width: 33%;
}

.center .slick-center {
  border-radius: 1rem;
  opacity: 1;
  margin-top: 50px;
  transition: all 2000ms ease;
  max-width: 33%;
}

.center {
  opacity: 0.8;
  color: #fff;
}
