@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&family=Varela+Round&display=swap');

button {
  position: relative;
  display: inline-block;
  margin: 20px;
  border: none;
  border-radius: 30px;
  background: white !important;
}

button {
  color: rgb(0, 0, 0);
  font-family: 'Prompt', sans-serif, 'Varela Round', sans-serif;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  display: block;
  position: relative;
  padding: 30px 85px;
  text-shadow: 0px 1px 0px #000;
  box-shadow: #c48dff 3px 3px, #ff8cd9 6px 6px, #35e1ff 9px 9px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  transition: box-shadow 0.3s;
}

button :active {
  top: 10px;
  background-color: #ffffff;
  box-shadow: none;
  transform: translateY(3px 3px);
}

button:after {
  content: '';
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

button.clicked {
  display: none !important;
}

@media (max-width: 768px) {
  button {
    font-size: 15px;
    padding: 15px 40px;
    box-shadow: #c48dff 1px 1px, #ff8cd9 2px 2px, #35e1ff 3px 3px;
    border-radius: 10px;
  }
}

@media (max-width: 640px) {
  button {
    font-size: 15px;
    padding: 15px 40px;
    box-shadow: #c48dff 1px 1px, #ff8cd9 2px 2px, #35e1ff 3px 3px;
    border-radius: 10px;
  }
}
