.gallery__item{
    align-items: center;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border: 1px solid; */
    padding: 0 15px;
}

.gallery__img--1, .gallery__img--2, .gallery__img--3{
    padding-left: 8rem;
}

.gallery__img--4, .gallery__img--5, .gallery__img--6{
    padding-left: 5rem;
}

.gallery__img--7, .gallery__img--9{
    padding-left: 7rem;
}

.gallery__img--9{
    padding-left: 4rem;
}

.gallery__img--10, .gallery__img--11{
    padding-left: 7rem;
}

.gallery__item--1 {
    grid-area: one;
    width: 75%;
    height: 75%;
}

.gallery__item--2 {
    grid-area: two;
    width: 75%;
    height: 75%;
}

.gallery__item--3 {
    grid-area: three;
    width: 75%;
    height: 75%;
    
}

.gallery__item--4 {
    grid-area: four;
    width: 85%;
    height: 85%;
}

.gallery__item--5 {
    grid-area: five;
    width: 85%;
    height: 85%;
}

.gallery__item--6 {
    grid-area: six;
    width: 85%;
    height: 85%;
}

.gallery__item--7 {
    grid-area: seven;
    width: 85%;
    height: 85%;
}

.gallery__item--8 {
    grid-area: eight;
    width: 95%;
    height: 95%;
}

.gallery__item--9 {
    grid-area: nine;
    width: 85%;
    height: 85%;
}

.gallery__item--10 {
    grid-area: ten;
    width: 85%;
    height: 85%;
}

.gallery__item--11 {
    grid-area: eleven;
    width: 85%;
    height: 85%;
}

.sponsor-content{

}



/*Desktop css*/

@media screen and (min-width: 760px) {
    .gallery {
        margin: 2rem 3rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 2rem;
        grid-template-areas:
        "one one two two three three"
        "four four five five six six" 
        "seven seven eight eight nine nine"
        "ten ten ten eleven eleven eleven"
    }

    .hack-society{
        color: #313F5C;
        padding-left: 7.5rem;
        padding-top: 1rem;
    }
}

/*Tablet CSS*/

@media screen and (min-width: 480px and max-width: 760px){
    .gallery {
        margin: 2rem 3rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        grid-template-areas:
        "one one two two"
        "three three four four"
        "five five six six"
        "seven seven eight eight"
    }

    
}

/*Mobile CSS*/

@media screen and (max-width: 480px){
    .gallery {
        margin: 2rem 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        grid-template-areas:
        "one two"
        "three four"
        "five six"
        "seven eight"
        "nine ten"
        "eleven eleven"
    }

     .gallery__img--5, .gallery__img--7, .gallery__img--9{
        padding-left: 0rem;
    }

    .gallery__img--1, .gallery__img--3, .gallery__img--2{
        padding-left: 1rem;
    }
    
     .gallery__img--4, .gallery__img--6, .gallery__img--8, .gallery__img--10, .gallery__img--11{
        padding-left: 0rem;
    }

    .hack-society{
        padding-left: 1.5rem;
        font-size: 0.8rem;
        padding-top: 0.5rem;
    }

    .gallery__item--1, .gallery__item--2, .gallery__item--3, .gallery__item--4, .gallery__item--5, .gallery__item--6, .gallery__item--7, .gallery__item--8, .gallery__item--9, .gallery__item--10, .gallery__item--11{
        width: 100%;
        height: 100%;
        
    }
}



/*<=============================>*/

.sponsor-content, .sponsor-logos{
    margin: 0rem 0rem;
}

body{
    margin: 0rem;
}

.sponsor-content-div {
    text-align: center;
    background: #D8D8D8;
    margin: 0rem;
}

.sponsor-content-div h2 , .past-sponsors h2 {
    font-size: 3rem;
    padding-top: 1rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.sponsor-content-div h1  {
    font-size: 4rem;
    padding-top: 3rem;
    margin-bottom: 1rem;
    margin-top: 0rem;
}

.sponsor-content-div h2{
    color: #707070;
}

.sponsor-content-div p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    padding-bottom: 1rem;
    margin-bottom: 0px;
    color: #707070;
}

.sponsor-content-div #para-end{
    padding-bottom: 4rem;
}

.past-sponsors{
    text-align: center;
    vertical-align: middle;
    background: ;
    background-image: url(../img/banner/banner.jpg);
    height: 300px;

}

.past-sponsors h2{
    color: #fff;
}

#past-sponsors{
    padding-top: 120px;
}

@media screen and (max-width: 480px){
 
    .sponsor-content-div h1{
        font-size: 2rem;
    }

    .sponsor-content-div h2{
        font-size: 1.5rem;
    }

    .sponsor-content-div p{
        font-size: 1rem;
    }
}