.one{
    left:-79.32px;
}
.two{
    left:0rem;
}
.focused{
    border: 4px solid yellow;
}
.three{
    left:112px;
}
.w-req{
    width: 351.32px;
    height: 473px;
    /* border-radius: 29.28px; */
    top: 22px;
}
.hComponent{
    height: 549px;
}

.wScaled{
    width: 384px;
    height: 517px;
    /* border-radius: 32px; */
}
.columnGrid{
    grid-column: span 5/span 5;
}
.columnGrid2{
    grid-column: span 5/span 5;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 946px){
    .columnGrid{
        grid-column: span 3/span 3;
    }
    .columnGrid2{
        margin-left: auto;
        margin-right: 4rem;
        grid-column: span 2/span 2;
    }
}
.leftBtn{
    left: -48.72px;
    top: 351px;
    background-color: rgb(168, 152, 27);
}
.rightBtn{
    right: -49.02px;
    top: 351px;
    background-color: rgb(168, 152, 27);
}

.dragScroll::-webkit-scrollbar{
    display: none;
}
.dragScroll{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.carousCard.active{
    border: 3px solid #ffe81f;
}

.cardMob{
    height: 359px;
    width: 259px;
}
