@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.header {
  margin: 50px auto;
  text-align: center;
  font-size: 80px;
}
.slide,
.slide img {
  width: 580px;
  border-radius: 20px;
  aspect-ratio: 4/3;
}
.slide {
  margin: 50px 0px;
  transform: scale(0.7);
  transition: 0.6s;
  border-radius: 12px;
}
.slide-active {
  filter: blur(0);
  opacity: 1;
  transform: scale(1.1);
  transition: 0.8s;
  border-radius: 20px;
}
.container {
  overflow: hidden;
  margin-top: 10px;
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}

@media screen and (max-width: 996px) {
  .slide,
  .slide img {
    width: 450px;
    aspect-ratio: 4/3;
    border-radius: 5px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    font-size: 7vw;
  }
  .slide,
  .slide img {
    width: 300px;
    aspect-ratio: 4/3;
    border-radius: 5px;
  }
  .arrow {
    font-size: 50px;
    padding: 5px 15px;
    display: flex;
    position: absolute;
    top: 50%;
    color: white;
    width: 50px;
    z-index: 100;
    cursor: pointer;
  }
  .custom-prev-arrow {
    left: 0;
    justify-content: flex-start;
  }
  .custom-next-arrow {
    right: 0;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 554px) {
  .slider {
    height: 300px;
  }
  .slide,
  .slide img {
    height: 200px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 491px) {
  .slide img {
    height: 200px;
    border-radius: 20px;
    width: 250px;
    position: relative;
    margin: auto;
  }
}
