@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;700&display=swap');

.wrapper {
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

h1 {
    color: #FFF;
    font-family: Prompt;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 201px 134px 243px 1fr;
    grid-template-rows: 134px;
    width: 1240px;
    margin: auto
}
.extension-container {
    display: grid;
    grid-template-columns: 352px 201px 134px 201px 1fr;
    grid-template-rows: 134px;
    width: 1240px;
    margin: auto
}

.box1 {
    /* background-color: orange; */
    display: inline-flex;
    padding: 26px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 20px;
    border: 0.4px solid var(--primary-green-3, #14F195);
    place-self: center;
    width: 352px;
}
#box1-line-wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
h3 {
    color: #72F7BF;
    /* Desktop/Header/H3/Semibold */
    font-family: Prompt;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    /* 150% */
    text-transform: capitalize;
    margin: 0;
}

#duration {
    color: var(--neutral-5, #A1A1A1);
    /* Desktop/Body/B2/Regular */
    font-family: Prompt;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
    margin: 0;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line4 {
    width: 201px;
    height: 0px;
    flex-shrink: 0;
    stroke-width: 1px;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.box3 {
    position: relative;
    height: 134px;
    place-self: center;
}

#date {
    color: #FFF;
    font-family: Prompt;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px;
    /* 116.667% */
    margin: 0;
}

#month {
    color: #FFF;
    /* Desktop/Body/B1/Regular */
    font-family: Prompt;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    /* 155.556% */
    margin: 0;
}

.box4 {
    position: relative;
    place-self: center;
}

.box5 {
    place-self: center;
    position: relative;
}

#ellipse {
    color: #FFF;
    font-family: Prompt;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 133.333% */
    width: 202px;
    margin: 0;
    margin-left: 25px;
}

.line1 {
    width: 4px;
    height: 165.242px;
    background: #FED954;
}
.box6{
    display: flex;
    justify-content: center;
}