@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rajdhani, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navLink:hover {
  color: red;
}

/* Tracks Section */
.flip {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 1em;
  width: 500px;
  height: 330px;
  text-align: center;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .flip {
    width: 330px;
    height: 330px;
    font-size: 0.85rem;
  }
}

.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}

.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}

.flip:hover > .front {
  transform: rotateY(180deg);
}

.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}

.flip > .front {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 100%;
  padding: 0;
  border-radius: 10px;
}

.flip > .front > img {
  opacity: 0.5;
}

.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 100%;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}

.css-19t934o,
.css-100mrsx {
  padding: 0 !important;
}

.twitter-wall {
  height: 90vh;
  width: 100%;
}

/* Timeline Section */
.timeline {
  max-width: 100vw;
}

table {
  margin: auto;
  border-collapse: collapse;
  overflow-x: auto;
  display: block;
  width: fit-content;
}

/* table tr:nth-child(even) {
  background-color: #273444;
} */

td,
th {
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  text-align: center;
}

th {
  font-family: Rajdhani, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 24px;
  background-color: #252429;
}

td {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.minievents,
.workshops,
.sessions,
.timemarkers,
.events {
  font-weight: bold;
  margin: 5px;
  padding: 3px;
  border-radius: 5px;
}

.minievents {
  background-color: #4c748d;
}
.workshops {
  background-color: #9f5c58;
}
.sessions {
  background-color: #3e7068;
}
.timemarkers {
  background-color: #a633d6;
}
.events {
  background-color: #9f9048;
}

.css-1yre4i8 {
  padding: 0 !important;
}
